<h1>Register history<br><br></h1>
<h2>経歴の登録</h2>
<p>以下、あなたの経歴を登録してくだい。登録した経歴はAIによる解析を行い、
  <br>学生一人一人に適した提案(説明会・オンライン講座・企業・職種)をチャットボットが提案します。</p>

<h3>経歴パターン１</h3>
<p>あなたの大学生活で頑張ったことについて教えてください。
  <br>(一つの頑張ったことに対し一つの文章でお願いします。)</p>


<h3>経歴パターン２</h3>
<p>あなたの得意なことについて教えてください。またそれが社会に対しどのように
  <br>役立てることができるかも含めお答えください。(一つの得意なことに対し一つの文章でお願いします。)
</p>

<h3>経歴パターン３</h3>
<p>あなたの今までで一番楽しかったことについて教えてください。またそれを楽しいと感じた
  <br>理由を含めお答えください。(一つの楽しかったことに対し一つの文章でお願いします。)
</p>

<h3>経歴パターン４</h3>
<p>あなたの今までで苦労したことについて教えてください。またそれをどうやって
  <br>乗り越えたかを含めお答えください。(一つの苦労したことに対し一つの文章でお願いします。)<br><br><br></p>
<form action="{{url_for('create_history')}}" method="post">
  <input type="text" name="body" width="80" height="30">
  <input type="submit" value="登録">
</form>
