<header>
    <a href="" >ログアウト</a>
    <style>
        body{
            background-color: rgb(211, 247, 205);
        }

        table{
            margin-top: 2%;
            background-color:whitesmoke;
        }
    </style>
</header>

<body>
    <h1>〇〇様向けTOPページ</h1>
    <a href="" >合同説明会に参加する</a>
    <a href="" >オンライン講座の登録</a>
    <br>
    <select name="type">
        <option value="1">全ての学生</option>
        <option value="2">お気に入り登録済みの学生</option>
    </select>
    <tr><td><input type="submit" value="決定"></td></tr>

    <table border=1>
        <tr>
            <th>学生一覧</th>
        </tr>
        <tr>
            <!-- for文で回す感じですかね？ -->
            <td>たかし(username)</td>
            <td><a href="" >詳細(userinfo)</a></td>
        </tr>
      </table>

</body>


