<header>
    <a href="{{url_for('logout')}}" >ログアウト</a>
    <style>
        body{
            background-color: rgb(211, 247, 205);
        }

        table{
            margin-top: 2%;
            background-color:whitesmoke;
        }
    </style>
</header>

<body>
    <h1>{{company.name}}様向けTOPページ</h1>
    <h3>なぜ企業のニーズに答えられるのか</h3>
    <p>「企業を学生に深く知ってもらいたい」「学生は本当に自分たちのところで働きたいのかわからない」その二つに答えるサイト。
      <br>同アプリでは、企業の採用活動で抱える課題を解決するサービスを提供しています。
      <br>現在の採用活動では、就活のコツが蔓延しており、就活生の本質(志望度・考え方)に触れることが難しくなっています。
      <br>また学生の業界・企業分析が充分に行える環境がなく(情報が散乱しているため)、入社後に企業とのアンマッチが発生しています。
      <br>
      <br>
      そこで、2つの課題を解決するのが同サービスです。
      <br>
      <br>
      <br>同サービスを学生が使うことを選考フローに入れていただくことで、十全に業界・企業分析を行った学生を母集団に入れることができます。
      <br>また、経歴や動画・説明会の視聴回数をAIが解析し、従来の選考フローではえれない学生の本質(志望度・考え方)を提供します。
    </p>
    <a href="" >合同説明会に参加する</a>
    <a href="" >オンライン講座の登録</a>
    <br>
    <select name="type">
        <option value="1">全ての学生</option>
        <option value="2">お気に入り登録済みの学生</option>
    </select>
    <tr><td><input type="submit" value="決定"></td></tr>

    <table border=1>
        <tr>
            <th>学生一覧</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td><a href="{{url_for('student_detail', user_id=student.id)}}" >詳細</a></td>
        </tr>
        {% endfor %}
      </table>

</body>
