<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> 就活サービス - C&C </title>
  </head>
  <body>
    <header>
        <img>
        <ul>
           <li><a href="" >TOP</a></li>
           <li><a href="" >チャットボット</a></li>
           <li><a href="" >説明会</a></li>
           <li><a href="" >オンライン講座</a></li>
           <li><a href="" >About us</a></li>
           <li><a href="{{ url_for('register') }}" >新規登録</a></li>
           <li><a href="" >ログイン</a></li>
        </ul>
    </header>
    <p>なりたい自分に出会える就活支援アプリ（決まり文句を入れたい）</p>
    <h1>S&E</h1>
    <br>
    <br>
    <h2>S&Eとは？</h2>
    <p>StudentとEnterpriseの出会いを提供します</p>
    <p>チャットボット、合同説明会、オンライン講座などのコンテンツを提供</p>

    <br>
    <h2>企業紹介</h2>

  </body>
</html>
