<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> 就活サービス - C&C </title>
  </head>
  <body>
    <header>
        <img>
        <ul>
           <li><a href="" >TOP</a></li>
           <li><a href="" >チャットボット</a></li>
           <li><a href="" >説明会</a></li>
           <li><a href="" >オンライン講座</a></li>
           <li><a href="" >About us</a></li>
           <li><a href="{{ url_for('register') }}" >新規登録</a></li>
           <li><a href="" >ログイン</a></li>
        </ul>
    </header>
  </body>
</html>
