<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> 就活サービス - C&C </title>
    <style>
      *{
        text-align: center;
        background-color: #ddd;
      }
      .menu{
        list-style: none;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .menu li{
        display: inline;
        margin-right: 25px;
      }

    </style>
  </head>
  <body>
    <header>
      <div class="menu">
        <ul>
          <li><a href="" >TOP</a></li>
          <li><a href="https://kawakato2020-09-09.mybluemix.net/bot" >チャットボット</a></li>
          <li><a href="{{ url_for('list_briefing') }}" >説明会</a></li>
          <li><a href="{{ url_for('create_history') }}" >経歴の登録（学生用）</a></li>
          <li><a href="{{ url_for('list_lectures') }}" >オンライン講座</a></li>
          <li><a href="{{ url_for('about_us') }}" >About us</a></li>
          <li><a href="{{ url_for('register') }}" >新規登録</a></li>
          <li><a href="{{ url_for('login') }}" >ログイン</a></li>
        </ul>
      </div>
    </header>
    <p>なりたい自分に出会える就活支援アプリ</p>
    <h1>S&E</h1>
    <br>
    <br>
    <h2>S&Eとは？</h2>
    <p>StudentとEnterpriseの出会いを提供します</p>
    <p>チャットボット、合同説明会、オンライン講座などのコンテンツを提供</p>

    <br>
    <h2>企業紹介</h2>

    <footer>
      <div class="menu">
        <ul>
          <li><a href="" >連絡先</a></li>
          <li><a href="" >リンク集</a></li>
          <li><a href="" >関連情報</a></li>
        </ul>
      </div>

      <small>©2020 C&C inc.</small>
    </footer>
  </body>
</html>
